@page "/clients"
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<h3>Client</h3>

<button @onclick="DownloadFileFromStream">
    Export en excel
</button>
<br/>

@if(ClientState.Value.IsLoading)
{
    <Loader />
}
else
{
    <button type="button" @onclick="@(async () => await RedirectToClientForm(Enums.FormMode.Creation))" >Créer un client</button>
    <br/>

    if(ClientState.Value.Clients.Count() > 0)
    {
        <div>Nombre de clients : @ClientState.Value.Clients.Count()</div>
        <div class="clients">
            @foreach (var client in ClientState.Value.Clients)
            {
                <ClientCard Client="@client" />
            }
        </div>
    }
    else
    {
        <div>
            Pas de clients
        </div>
    }
}