@page "/clients"
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<h3>Client</h3>

@if(ClientState.Value.IsLoading)
{
    <Loader />
}
else
{
    if(ClientState.Value.Clients.Count() > 0)
    {
        <div class="clients">
            @foreach (var client in ClientState.Value.Clients)
            {
                <ClientCard Client="@client" />
            }
        </div>
    }
    else
    {
        <div>
            Pas de clients
        </div>
    }
}